@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.blue-color {
  color: #41b5e8;
}

.bg-blue-color {
  background-color: #41b5e8;
}

.main-nav {
  position: fixed;
  bottom: 0;
}

.main-title {
  font-size: 25px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.menu-item i {
  font-size: 20px;
  color: #fff;
}

.menu-item a {
  font-size: 10px;
  font-weight: bold;
  display: block;
  color: #fff;
}

.menu-item {
  width: 25%;
}

.content {
  margin-top: 7rem;
}

.date {
  font-size: 20px;
}
